@import "tailwindcss";

@layer base {
  body {
    font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #18181b;
}
::-webkit-scrollbar-thumb {
  background: #303034;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #45454b;
}
